:root {
    --panel-bgcolor: #6ab446;
    --bgcolor: #f2f6e9;
    --content-color: #000;
    --loginFormBgColor: #414fff;
}


/*Global CSS style*/

body {
    padding: 0;
    margin: 0;
    background: var(--bgcolor);
}


/*--- navigation bar ---*/

.navbar {
    background: var(--panel-bgcolor);
    width: 100%;
}

.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: var(--content-color);
}

.navbar-collapse {
    justify-content: flex-end;
}

.content {
    text-align: center;
}

.footer {
    background: var(--panel-bgcolor);
    color: #fff;
}

.footer a {
    color: #fff;
    cursor: pointer;
}

.footer a:hover {
    color: var(--content-color);
}

.header {
    display: flex !important;
    flex: 0 1 auto !important;
}

.footer {
    display: flex !important;
    align-items: center;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    padding: 0.5rem 1rem;
    width: auto !important;
    flex: 0 1 auto !important;
}

.content {
    display: flex !important;
    flex: 1 1 auto !important;
    overflow: auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: center !important;
}

body {
    height: 100% !important;
    margin: 0;
    color: var(--content-color);
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.madeBy img {
    width: 48px !important;
    height: auto !important;
}

.hidden {
    display: none !important;
}

.tab {
    border-bottom: 0px;
    border-color: var(--loginFormBgColor);
    background-color: #fff;
    box-shadow: none !important;
    width: 49%;
    margin: 0;
}

.tab.selected,
.tab:hover {
    background-color: var(--loginFormBgColor);
    color: #fff !important;
}

.tabPage {
    padding: 10px !important;
    background-color: var(--loginFormBgColor);
    height: 200px;
    width: 300px;
    display: table;
}

.tabPage form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.tabControl {
    margin: 0 auto !important;
}

.tabControl input[type=text],
.tabControl input[type=email],
.tabControl input[type=password] {
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 0px;
    border-bottom: 1px solid;
    border-radius: 0;
}

.tabControl input[type=submit] {
    border-radius: 1px;
    background: #7abcff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    /* IE6-9 */
    border-radius: 5px;
    width: 90px;
    height: 30px;
    color: #fff;
    font-weight: bold;
    margin-top: 10px;
}

.tabControl input[type=submit]:hover {
    background: #3097ff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3097ff 0%, #60abf8 44%, #097bed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3097ff 0%, #60abf8 44%, #097bed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3097ff 0%, #60abf8 44%, #097bed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3097ff', endColorstr='#097bed', GradientType=0);
    /* IE6-9 */
}

.page-title {
    width: 100%;
    margin-top: 10px;
}

.tableTasks {
    margin-top: 20px !important;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

.tableTasks tr:first-child {
    background-color: var(--panel-bgcolor);
    color: white;
}

.tableTasks td {
    padding-right: 20px;
    padding-left: 20px;
}

#dateTime,
.lblEvents,
.addTaskBtn {
    margin: 0 auto;
}


/*Toggle Switch*/

.toggle-btn {
    width: 50px;
    height: 24px;
    background: gray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 9px;
}

.toggle-btn>.inner-circle {
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 50%;
}

.toggle-btn.active {
    background: #00acee;
}

.toggle-btn.active>.inner-circle {
    margin-left: 25px;
}

#darkModeIcon {
    color: #000 !important;
}

.navbar-brand:hover {
    color: var(--content-color) !important;
}

form#addTask {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    min-height: 273px;
    margin-top: -159px;
    margin-left: -250px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--panel-bgcolor);
}

#addTask input,
#addTask select {
    margin-top: 5px;
    margin-bottom: 5px;
}

.formCloseButton {
    position: absolute;
    right: 24px;
    top: 10px;
    background-color: red;
    width: 22px;
    border-radius: 5px;
}

.formCloseButton:hover {
    background-color: darkred;
}

#addTask input[type=submit] {
    border-radius: 10px;
    border-color: #0fbf76;
    background-color: #fff;
    box-shadow: none !important;
}

#addTask input[type=submit]:hover {
    background-color: #0fbf76;
    color: #fff !important;
}

.toggle-btn>.inner-circle #darkModeIcon {
    color: yellow !important;
}

.toggle-btn.active>.inner-circle #darkModeIcon {
    color: #fff !important;
}

.content {
    padding-bottom: 70px;
}

.taskPanel {
    width: 40%;
    margin: 0 auto;
    margin-top: 0px;
    background: #000;
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
}

.taskPanel#weekly {
    background: #a90329;
    /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0);
    /* IE6-9 */
}

.taskPanel#noRepeat {
    background: #4c4c4c;
    /* Old browsers */
    background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=0);
    /* IE6-9 */
}

.taskPanel#daily {
    background: #3b679e;
    /* Old browsers */
    background: -moz-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=0);
    /* IE6-9 */
}

.tableTasks {
    display: none;
}