:root{
  --panel-bgcolor: #6ab446;
  --bgcolor:#f2f6e9;
  --content-color:#000;
}

/*Global CSS style*/
  body {
    padding: 0;
    margin: 0;
    background: var(--bgcolor);
  }
  /*--- navigation bar ---*/
  .navbar {
    background: var(--panel-bgcolor);
    width: 100%;
  }
  .nav-link,
  .navbar-brand {
    color: #fff;
    cursor: pointer;
  }
  .nav-link {
    margin-right: 1em !important;
  }
  .nav-link:hover {
    color: var(--content-color);
  }
  .navbar-collapse {
    justify-content: flex-end;
  }

  .content{
      text-align:center;
  }

  .footer {
    background: var(--panel-bgcolor);
    color: #fff;
  }
  .footer a{
    color: #fff;
    cursor: pointer;
  }

  .footer a:hover {
    color: var(--content-color);
  }

  .header{
    display: flex !important;
    flex: 0 1 auto !important;
  }

  .footer {
    display: flex !important;
    align-items: center;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    padding: 0.5rem 1rem;
    width: auto !important;
    flex: 0 1 auto !important;
  }

  .content{
    display: flex !important;
    flex: 1 1 auto !important;
    overflow: auto;
    flex-direction: column; 
    align-items: flex-start;
    text-align:center !important;
  }

  body{
    height: 100% !important;
    margin: 0;
    color: var(--content-color);
  }

  .box {
    display: flex;
    flex-flow: column;
    height: 100%;
  }

  .madeBy img{
    width:48px !important;
    height: auto !important;
  }

  .hidden{
    display:none !important;
  }

  .tab {
    border-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    border-color: #0fbf76;
    background-color: #fff;
    box-shadow: none !important;
  }

  .tab.selected, .tab:hover{
    background-color: #0fbf76;
    color:#fff !important;
  }

  .tabPage{
    padding: 10px !important;
    background-color: #0fbf76;
    border-radius: 10px !important;
  }

  .tabControl{
    margin:0 auto !important;
  }

  .tabControl input[type=text],.tabControl input[type=email],.tabControl input[type=password]{
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .page-title{
    width:100%;
    margin-top:10px;
  }

  .tableTasks{
    margin-top: 20px !important;
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }

  .tableTasks tr:first-child{
    background-color: var(--panel-bgcolor);
    color: white;
  }

  .tableTasks td{
    padding-right: 20px;
    padding-left: 20px;
  }

  #dateTime, .lblEvents, .addTaskBtn{
    margin:0 auto;
  }


  /*Toggle Switch*/

  .toggle-btn{
    width: 50px;
    height: 24px;
    background: gray;
    border-radius: 10px;
    padding: 5px;
    margin-top: 9px;
  }

  .toggle-btn > .inner-circle {
    width: 16px;
    height: 16px;
    position:relative;
    border-radius: 50%;
  }

  .toggle-btn.active {
    background: #00acee;
  }

  .toggle-btn.active > .inner-circle{
    margin-left: 25px;
  }

  #darkModeIcon{
    color: #000 !important;
  }

  .navbar-brand:hover{
    color: var(--content-color) !important;
  }

  form#addTask {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    min-height: 273px;
    margin-top: -159px;
    margin-left: -250px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--panel-bgcolor);
  }

  #addTask input, #addTask select{
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .formCloseButton{
    position: absolute;
    right: 24px;
    top: 10px;
    background-color: red;
    width: 22px;
    border-radius: 5px;
  }

  .formCloseButton:hover{
    background-color: darkred;
  }

  #addTask input[type=submit] {
    border-radius: 10px;
    border-color: #0fbf76;
    background-color: #fff;
    box-shadow: none !important;
  }

  #addTask input[type=submit]:hover{
    background-color: #0fbf76;
    color:#fff !important;
  }

  .toggle-btn > .inner-circle #darkModeIcon{
    color: yellow !important;
  }

  .toggle-btn.active > .inner-circle #darkModeIcon{
    color: #fff !important;
  }